.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url("../img/bg_mainscreen.jpg") center (center/cover) no-repeat;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 91px;
  }

  &__header {
    font-weight: 700;
    font-size: 42px;
    line-height: 42px;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__subheader {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: right;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 17px;
  }

  &__icons {
    margin-top: 60px;
    width: 425px;
    display: flex;
    justify-content: center;
  }

  &__icon {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #fff;

    img {
      display: block;
      padding-bottom: 20px;
    }
  }

  &__link {
    margin-top: 18px;
    font-weight: 300;
    font-size: 16px;
    text-align: right;
    color: #ffffff;
    a{
      text-decoration: underline;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 500;
    }
  }
}
